{% include 'header.html' %}
    <form action="/update" method="post" enctype="multipart/form-data">
        <input hidden type="text" name="txtId" id="txtId" value="{{empleado[0]}}">
        <label for="txtNombre">Nombre: </label>
        <input type="text" name="txtNombre" id="txtNombre" value="{{empleado[1]}}">
        <br>
        <label for="txtCorreo">Correo: </label>
        <input type="email" name="txtCorreo" id="txtCorreo" value="{{empleado[2]}}">
        <br>
        Foto actual: {{empleado[3]}}
        <br>
        <label for="txtFoto">Foto: </label>
        <input type="file" name="txtFoto" id="txtFoto">
        <br>
        <input type="submit" value="Modificar empleado">
    </form>
{% include 'footer.html' %}